 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 



.hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 1;
}
.hamburger-menu:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%; 
    height: 150%; 
    background-color: grey;
    border-radius: 25%;
    transform: translate(-47%, -42%);
    z-index: -1;
    transition: opacity 0.2s;
    opacity: 0;
}

.hamburger-menu:hover::before {
    opacity: 1;
}

.hamburger-menu .bar {
    display: block;
    height: 2rem;
    width: 2rem;
    margin: 6px 0px 0px 0px;
    background: #000;
    border: 2px solid #000;
    border-radius: 60px;
}